pip        22.0.4
setuptools 58.1.0
Django==4.2.1
django-filter==23.2
django-phonenumber-field==7.1.0
django-phonenumbers==1.0.1
django-rest-swagger==2.2.0
djangorestframework==3.14.0
drf-yasg==1.21.5
geoip2==4.7.0